.kfAyjk {
  justify-content: center;
}

.hqAQls {
  justify-content: center;
}

@keyframes float {
  0% {
    filter: drop-shadow(5px 15px 2px rgba(0, 0, 0, 0.4));

    transform: translatey(0px);
  }
  50% {
    filter: drop-shadow(25px 15px 10px rgba(0, 0, 0, 0.2));

    transform: translatey(-20px);
  }
  100% {
    filter: drop-shadow(5px 15px 2px rgba(0, 0, 0, 0.4));

    transform: translatey(0px);
  }
}

.float {
  filter: drop-shadow(5px 15px 2px rgba(0, 0, 0, 0.1));
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}
